{% extends 'layout.html' %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
<h1>Forgot Password</h1>

<form action="{{ url_for('password_forgot') }}" method="POST" class="box" id="forgot_password">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">  <!-- Include CSRF token -->

    <label class ="label_top" for="username">Username</label>
    <input
        type="text"
        id="username"
        name="username"
        pattern="^[a-zA-Z0-9_]{3,9}$"
        required
        oninput="this.value = this.value.replace(/\s/g, '')"
    />
    <span id="username-error-message" style="color: red"></span>

    <label for="mobile">Mobile Number</label>
    <input
        type="tel"
        id="mobile"
        name="mobile"
        pattern="^[0-9]{10}$"
        required
        oninput="this.value = this.value.replace(/\s/g, '')"
    />
    <span id="mobile-error-message" style="color: red"></span> <!-- Error message for mobile number -->

    <button type="submit" id="submit-btn">Submit</button>
</form>
{% endblock %}
