{% extends 'layout.html' %}
{% block title %}Forgot Password{% endblock %}
{% block content %}

<form action="{{url_for('process_new_password') }}" method="POST" class="box", id="process_new_plw">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">  <!-- Include CSRF token -->
    <h2>Reset Password</h2>

    <input type="hidden" name="username" value="{{ username }}">

    <label for="new_password">New Password</label>
    <input
        type="password" 
        id="new_password" 
        name="new_password" 
        required
        onfocus="showRequirements('password-requirements')"
        onblur="hideRequirements('password-requirements')"
    />
    <ul id="password-requirements" class="requirements" style="display: none;">
        <li>Must be 8-20 characters long</li>
        <li>Must contain at least one uppercase letter</li>
        <li>Must contain at least one lowercase letter</li>
        <li>Must contain at least one digit</li>
        <li>Must contain at least one special character (@$!%*?&)</li>
        <li>No spaces allowed</li>
    </ul>
    <span id="password-error-message" style="color: red"></span>
    <!-- Error message for password -->

    <label for="confirm_password">Confirm New Password</label>
    <input type="password" id="confirm_password" name="confirm_password" required>

    <button type="submit" id="submit-btn">Submit</button>
</form>

{% endblock %}
