{% extends 'layout.html' %}
{% block title %}Forgot Password{% endblock %}
{% block content %}

<form action="{{ url_for('sq') }}" method="POST" class="box" id="forgot_password_sq">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">  <!-- Include CSRF token -->
    <h2>Reset Password</h2>

    <input type="hidden" name="username" value="{{ username }}">

    <label for="security-question-1">{{ questions.question_1 }}?</label>
    <input type="text" id="security-answer-1" name="security_answer_1" required />

    <label for="security-question-2">{{ questions.question_2 }}?</label>
    <input type="text" id="security-answer-2" name="security_answer_2" required />
    
    <button type="submit" id="submit-btn">Submit</button>

</form>

{% endblock %}